* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=checkbox], label {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 5px;
}

button {
    border:none;
    background-color: transparent;
    font-size: 18px;
}

.input-bar {
    align-items: center;
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
}

.input-bar * {
    margin: 20px;
}

select{
   color: black;
   background-color: white;
}



